@font-face {
  font-family: "iconfont"; /* Project id 4943461 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1750146583182') format('woff2'),
       url('iconfont.woff?t=1750146583182') format('woff'),
       url('iconfont.ttf?t=1750146583182') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-beifen:before {
  content: "\e60c";
}

.icon-qinshuguanxi:before {
  content: "\e600";
}

.icon-renyuanfenzu:before {
  content: "\e7c7";
}

.icon-shengri:before {
  content: "\e606";
}

.icon-shoujihaoma:before {
  content: "\e64f";
}

.icon-shifoutongzhi:before {
  content: "\e691";
}

.icon-xingming:before {
  content: "\e605";
}

.icon-riqi:before {
  content: "\e695";
}

.icon-youxiang:before {
  content: "\e678";
}

.icon-xingbie:before {
  content: "\e601";
}

.icon-idcard:before {
  content: "\ebec";
}

