@font-face {
  font-family: "iconfont"; /* Project id 4943461 */
  /* Color fonts */
  src:
       url('iconfont.woff2?t=1752133425024') format('woff2'),
       url('iconfont.woff?t=1752133425024') format('woff'),
       url('iconfont.ttf?t=1752133425024') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shengri:before {
  content: "\e618";
}

.icon-gongzuotai:before {
  content: "\e650";
}

.icon-tixing:before {
  content: "\e613";
}

.icon-jinianri:before {
  content: "\e60d";
}

.icon-shijian:before {
  content: "\e60a";
}

.icon-nongli:before {
  content: "\e602";
}

.icon-shijianming:before {
  content: "\e66b";
}

.icon-shijianzhouqi:before {
  content: "\e996";
}

.icon-leixing:before {
  content: "\e635";
}

.icon-beifen:before {
  content: "\e60c";
}

.icon-qinshuguanxi:before {
  content: "\e600";
}

.icon-renyuanfenzu:before {
  content: "\e7c7";
}

.icon-shoujihaoma:before {
  content: "\e64f";
}

.icon-shifoutongzhi:before {
  content: "\e691";
}

.icon-xingming:before {
  content: "\e605";
}

.icon-riqi:before {
  content: "\e695";
}

.icon-youxiang:before {
  content: "\e678";
}

.icon-xingbie:before {
  content: "\e601";
}

.icon-idcard:before {
  content: "\ebec";
}

